---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PERSONAL_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1581028056'
      Etag:
      - W/"2dc9c6b97f0d724934360133fb4a5263"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":229660717,"node_id":"MDEwOlJlcG9zaXRvcnkyMjk2NjA3MTc=","name":"activerecord-obstacle-course","full_name":"dylanconnolly/activerecord-obstacle-course","private":false,"owner":{"login":"dylanconnolly","id":54859243,"node_id":"MDQ6VXNlcjU0ODU5MjQz","avatar_url":"https://avatars1.githubusercontent.com/u/54859243?v=4","gravatar_id":"","url":"https://api.github.com/users/dylanconnolly","html_url":"https://github.com/dylanconnolly","followers_url":"https://api.github.com/users/dylanconnolly/followers","following_url":"https://api.github.com/users/dylanconnolly/following{/other_user}","gists_url":"https://api.github.com/users/dylanconnolly/gists{/gist_id}","starred_url":"https://api.github.com/users/dylanconnolly/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dylanconnolly/subscriptions","organizations_url":"https://api.github.com/users/dylanconnolly/orgs","repos_url":"https://api.github.com/users/dylanconnolly/repos","events_url":"https://api.github.com/users/dylanconnolly/events{/privacy}","received_events_url":"https://api.github.com/users/dylanconnolly/received_events","type":"User","site_admin":false},"html_url":"https://github.com/dylanconnolly/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/dylanconnolly/activerecord-obstacle-course/deployments","created_at":"2019-12-23T02:18:35Z","updated_at":"2019-12-23T02:18:37Z","pushed_at":"2019-12-19T18:49:23Z","git_url":"git://github.com/dylanconnolly/activerecord-obstacle-course.git","ssh_url":"git@github.com:dylanconnolly/activerecord-obstacle-course.git","clone_url":"https://github.com/dylanconnolly/activerecord-obstacle-course.git","svn_url":"https://github.com/dylanconnolly/activerecord-obstacle-course","homepage":null,"size":66,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":222555361,"node_id":"MDEwOlJlcG9zaXRvcnkyMjI1NTUzNjE=","name":"adopt_dont_shop","full_name":"dylanconnolly/adopt_dont_shop","private":false,"owner":{"login":"dylanconnolly","id":54859243,"node_id":"MDQ6VXNlcjU0ODU5MjQz","avatar_url":"https://avatars1.githubusercontent.com/u/54859243?v=4","gravatar_id":"","url":"https://api.github.com/users/dylanconnolly","html_url":"https://github.com/dylanconnolly","followers_url":"https://api.github.com/users/dylanconnolly/followers","following_ur[...]
